@import url(../libs/theme.css);

.footer-heading {
	color: #b98c64;
}

.footer-info{
	margin-top: 10px;
	color:#ecdfd3;
}

.no-gutters {
	--bs-gutter-x: 0;
}
.ll{
	text-decoration: none;
}
#useful-link li{
	list-style: none;
	color: #ecdfd3;
}
.footer-link{
	text-decoration: none;
	color: #ecdfd3;
}
.copyright-p{
	color: #ecdfd3;
}
.mrr {
	margin-right: 0;
}

.logo_bg {
	padding-right: 8px;
	padding-left: 8px;
}
