@import url(../libs/theme.css);

.nav-bg {
	background-color: #c5a68f;
}
.logo_bg {
	background-color: var(--bg-highlightColor);
}
.cart-icon {
	position: relative;
	padding-right: 0px;
}

.badge {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--bg-highlightColor);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.space {
	margin-right: 6px;
	font-weight: bold;
	color: var(--heading-text);
}
.space:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: var(--bg-highlightColor);
	color: #fff;
}

.search-button {
	background-color: var(--bg-highlightColor);
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
}

.search-button:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.cart {
	/* align-content: center; */
	padding-top: 10px;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.login-btn {
	font-weight: bold;
	color: var(--heading-text);
	align-content: center;
	padding-left: 8px;
	padding-right: 8px;
}
.login-btn:hover {
	text-decoration: none;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
	background-color: var(--bg-highlightColor);
	color: #fff;
}

@media only screen and (min-width: 768px) {
	.page {
		min-height: 53vh;
	}
}
@media only screen and (max-width: 768px) {
	.mf {
		display: block !important;
	}
	.badge{
		right: 146px;
    top: 7px;
	}
}
