@import url(../libs/theme.css);

.heading {
	color: var(--bg-highlightColor);
}
button {
	background-color: var(--bg-highlightColor);
}
.cc {
	margin-bottom: 0.5rem;
	display: block;
	width: 100%;
	border-radius: 0.75rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity));
	padding: 0.5rem;
}
.rbutton {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 0.5rem;
	font-weight: 600;
	--tw-text-opacity: 1;
	color: white;
	border-radius: 0.75rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	background-color: var(--bg-highlightColor) !important;
	border-color: rgb(209 213 219 / var(--tw-border-opacity));
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
	.form-group {
		margin-left: 40rem;
		margin-right: 40rem;
	}
}

@media only screen and (max-width: 768px) {
	.form-group {
		margin-left: 80px;
		margin-right: 80px;
	}
}

.mb-20 {
	margin-bottom: 20px;
}
