@import url(../libs/theme.css);

.menu-list-container h2{
	color: var(--heading-text);
}
.menu-categories-button{
	background-color: var(--button-color);
	color: #fff; 
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	width: 130px;
}
.menu-categories-button:hover{
	background-color: var(--button-hover-color);
}
.category-list {
	flex: 0 0 20%;
	padding: 20px;
	color: black;
	background-color: var(--bg-color);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-list h2 {
	color: var(--heading-text);
	margin-bottom: 10px;
}

.category-list ul {
	list-style-type: none;
	padding: 0;
}

.category-list li {
	margin-bottom: 10px;
	cursor: pointer;
	transition: color 0.3s;
}

.category-list li:hover {
	color: var(--bg-highlightColor);
}


.all-menu-items22 {
	display: flex;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
	.all-menu-items22 {
		flex-direction: column;
		padding-left: 51px;
	}

	.category-list {
		flex: 0 0 100%;
		margin-bottom: 20px;
	}

	.menu-item-list22 {
		flex: 0 0 100%;
	}
}
