@import url(../libs/theme.css);

.product-popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 1); /* White background */
	border-radius: 10px;
	padding: 20px;
	max-width: 100%;
	width: fit-content; /* Adjusts width based on content */
	max-height: 90%;
	overflow-y: auto; /* Enable scrolling if content exceeds container height */
	z-index: 1000;
}

.product-popup-content {
	display: flex;
	align-items: center;
	justify-content: space-between; /* Added to ensure space between image and details */
}

.product-popup-image-container {
	margin-right: 20px;
}


.product-details {
	flex: 1;
	text-align: left;
}
.product-name-and-close-button{
	display: flex;
  justify-content: space-between;
  align-items: center;

}

.product-popup-name {
	font-size: 24px;
	font-weight: bold;
	color: var(--heading-color);
	margin-bottom: 10px;
	overflow-wrap: break-word; 
}

.product-popup-description {
	margin-top: 10px;
}

.product-popup-category,
.product-popup-price,
.product-popup-sizes,
.product-popup-toppings {
	margin-top: 10px;
	font-weight: bold;
	color: black;
}
.product-popup-sizes h5,
.product-popup-toppings h5{
	color: var(--button-hover-color);
}

.product-popup-size-list,
.product-popup-toppings-list {
	padding-left: 0px;
	text-decoration: none;
}

.product-popup-size-label{
	display: flex;
	justify-content: space-between;
}

.product-popup-size-item li,
.product-popup-toppings-list li {
	margin-bottom: 5px;
	text-decoration: none;
}
.topping-li{
	text-decoration: none;
}

.product-popup-toppings-list li.selected {
	border-radius: 5px;
}

.product-actions {
	display: flex;
	align-items: center;
	padding: 10px;
}

.quantity-control button{
	background-color: var(--button-color);
	color: #fff; 
	border: none;
	border-radius: 100px;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}
.quantity-control button:hover{
	background-color: var(--button-hover-color);
}

.add-to-cart-popup-button{
	background-color: var(--button-color);
	color: #fff; 
	border: none;
	border-radius: 100px;
	padding: 10px 20px;
	cursor: pointer;
	margin-left: 100px;
}
.close-popup-button{
	background-color: white;
	color: var(--heading-color); 
	border: none;
	border-radius: 100px;
	cursor: pointer;
	text-transform: lowercase;
	font-size: 30px;
}
.add-to-cart-popup-button:hover,
.close-popup-button:hover{
	background-color: var(--button-hover-color);
}



